<h3 *ngIf="editMode">Edit {{ recipe?.name }}</h3>
<h3 *ngIf="!editMode">New recipe</h3>

<form (ngSubmit)="onSubmit()" #recipeForm="ngForm">
    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="name">Name</label>
            <input ngModel name="name" type="text" id="name" [ngModel]="defaultName" class="form-control" #nameInput
                required #name="ngModel">
            <p class="help-block" *ngIf="!name.valid && name.touched">Please enter a name.</p>
        </div>
        <div class="col-sm-12 form-group">
            <label for="description">Description</label>
            <textarea ngModel name="description" rows="10" cols="100" id="description" [ngModel]="defaultDescription"
                class="form-control" #description="ngModel" [(ngModel)]="descriptionValue" required
                maxlength="10000"></textarea>
            <p class="help-block" *ngIf="description.valid">{{descriptionValue}}</p>

        </div>
        <div class="col-sm-12 form-group">
            <label for="imagePath">Image path</label>
            <input ngModel name="imagePath" type="text" id="imagePath" [ngModel]="defaultImagePath" class="form-control"
                #imagePathInput>
        </div>
        <div class="col-sm-12 form-group">
            <label for="poisonLevel">Poisonous</label>
            <select id="poisonLevel" class="form-control" [ngModel]="defaultPoisonLevel" name="poisonLevel" required
                #poisonLevel="ngModel">
                <option [value]="poisonLevel" *ngFor="let poisonLevel of poisonLevelOptions">{{poisonLevel}}</option>
            </select>
            <p class="help-block" *ngIf="!poisonLevel.valid && poisonLevel.touched">Please select the poison level.</p>
        </div>
        <div class="col-sm-12 form-group">
            <label for="rating">Rating</label>
            <div class="radio" id="rating" *ngFor="let ratingOption of ratingOptions, index as i">
                <label for="{{i}}">
                    <input type="radio" name="rating" id="{{i}}" value="{{i}}" ngModel [value]="ratingOption" required
                        [ngModel]="defaultRating">
                    {{ratingOption}}</label>
            </div>
        </div>       
        <div class="col-sm-12 form-group">
            <h4>Ingredients</h4>
            <button class="btn btn-default" type="button">Add ingredient</button>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" [disabled]="!recipeForm.valid" type="submit">Save</button>
            </div>
        </div>
    </div>
</form>