<h3 *ngIf="editMode">Edit {{ recipe?.name }}</h3>
<h3 *ngIf="!editMode">New recipe</h3>

<form (ngSubmit)="onSubmit()" [formGroup]="recipeForm" *ngIf="recipeForm !== undefined">
  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        formControlName="name"
        id="name"
        type="text">
      <span *ngIf="!recipeForm?.get('name')?.valid && recipeForm?.get('name')?.touched" class="help-block">
        <p *ngIf="recipeForm?.get('name')?.getError('required')" class="help-block">Please enter a name.</p>
      </span>
    </div>
    <div class="col-sm-12 form-group">
      <label for="description">Description</label>
      <textarea class="form-control"
                cols="100"
                formControlName="description" id="description" rows="10">{{descriptionValue}}</textarea>
      <p *ngIf="!recipeForm?.get('description')?.valid && recipeForm?.get('description')?.touched"
         class="help-block">Please enter a
        description.</p>
    </div>
    <div class="col-sm-12 form-group">
      <label for="imagePath">Image path</label>
      <input
        class="form-control"
        formControlName="imagePath"
        id="imagePath"
        type="text">
      <span *ngIf="!recipeForm?.get('imagePath')?.valid && recipeForm?.get('imagePath')?.touched" class="help-block">
        <p *ngIf="recipeForm?.get('imagePath')?.getError('required')" class="help-block">Please enter an image path.</p>
      </span>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="recipeForm?.get('imagePath')?.value" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="col-sm-12 form-group">
      <label for="poisonLevel">Poison level</label>
      <select class="form-control" formControlName="poisonLevel" id="poisonLevel">
        <option *ngFor="let poisonLevelOption of poisonLevelOptions"
                [value]="poisonLevelOption.value">{{poisonLevelOption.name}}</option>
      </select>
      <p *ngIf="!recipeForm?.get('poisonLevel')?.valid && recipeForm?.get('poisonLevel')?.touched" class="help-block">
        Please select the poison level.</p>
    </div>
    <div class="col-sm-12 form-group">

      <label>Rating</label>
      <div *ngFor="let ratingOption of ratingOptions" class="radio">
        <label for="{{ratingOption.value}}">
          <input
            [value]="ratingOption.value"
            formControlName="rating"
            id="{{ratingOption.value}}"
            type="radio">
          {{ratingOption.name}}</label>
      </div>
      <p *ngIf="!recipeForm?.get('rating')?.valid && recipeForm?.get('rating')?.touched" class="help-block">Please rate
        your recipe.</p>
    </div>
    <div class="col-sm-12 form-group" id="ingredients">
      <h4>Ingredients</h4>
      <button (click)="onAddIngredient()" class="btn btn-default" type="button">Add ingredient</button>
      <div formArrayName="ingredients">
        <div class="row" [formGroupName]="i"
             *ngFor="let ingredientControl of getIngredients().controls; index as i" style="margin-top: 10px">
          <div class="col-xs-8">
            <input class="form-control" type="text" formControlName="name">
            <p *ngIf="ingredientControl?.get('name') ?.getError('required')" class="help-block">Please enter a name.</p>
          </div>
          <div class="col-xs-2">
            <input class="form-control" type="number" formControlName="amount">
            <p *ngIf="ingredientControl?.get('amount') ?.getError('required')" class="help-block">Please enter the
              amount
              .</p>
            <p *ngIf="ingredientControl?.get('amount') ?.getError('pattern')" class="help-block">The amount must be a
              positive number.</p>
          </div>
          <div class="col-xs-2">
            <button (click)="onDeleteIngredient(i)" class="btn btn-danger" type="button">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success" [disabled]="!recipeForm?.valid"
                type="submit">{{editMode ? 'Update' : 'Save'}}
        </button>
        <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
