<h3 *ngIf="editMode">Edit {{ recipe?.name }}</h3>
<h3 *ngIf="!editMode">New recipe</h3>

<form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row">
        <div class="col-sm-12 form-group" ngModelGroup="textValues">
            <label for="name">Name</label>
            <input ngModel name="name" type="text" id="name" [ngModel]="defaultName" class="form-control" #nameInput
                required #name="ngModel">
            <p class="help-block" *ngIf="!name.valid && name.touched">Please enter a name.</p>
        </div>
        <div class="col-sm-12 form-group" ngModelGroup="textValues">
            <label for="description">Description</label>
            <textarea ngModel name="description" rows="10" cols="100" id="description" [ngModel]="defaultDescription"
                class="form-control" #description="ngModel" [(ngModel)]="descriptionValue" required maxlength="10000"></textarea>
            <p class="help-block" *ngIf="description.valid">{{descriptionValue}}</p>

        </div>
        <div class="col-sm-12 form-group">
            <label for="imagePath">Image path</label>
            <input ngModel name="imagePath" type="text" id="imagePath" [ngModel]="defaultImagePath" class="form-control"
                #imagePathInput>
        </div>
        <div class="col-sm-12 form-group">
            <label for="poisonous">Poisonous</label>
            <select id="poisonous" class="form-control" [ngModel]="defaultPoisonous" name="poisonous" required
                #poisonous="ngModel">
                <option [value]="poisonous" *ngFor="let poisonous of poisonousOptions">{{poisonous}}</option>
            </select>
            <p class="help-block" *ngIf="!poisonous.valid && poisonous.touched">Please select the poison level.</p>
        </div>
        <div class="col-sm-12 form-group">
            <label for="rating">Rating</label>
            <div class="radio" id="rating" *ngFor="let ratingOption of ratingOptions">
                <input type="radio" name="rating" ngModel [value]="ratingOption" required [ngModel]="defaultRating"> {{ratingOption}}
            </div>            
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" [disabled]="!f.valid" type="submit">Save</button>
            </div>
        </div>
    </div>
</form>