<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!--    First approach: Show error message in div: -->
    <!--    <div class="alert alert-danger" *ngIf="errorMessage">-->
    <!--      <p>{{errorMessage | errorMessageConverter}}</p>-->
    <!--    </div>-->

    <!--    Second approach: Show error message in a static component: -->
    <!--    <app-alert [message]="errorMessage | errorMessageConverter" *ngIf="errorMessage"-->
    <!--               (close)="errorMessage = ''"></app-alert>-->

    <!--Third approach: Create error message alert programmatically: -->
    <ng-template appPlaceholder></ng-template>

    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="authForm" *ngIf="authForm !== undefined && !isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email">
        <p *ngIf="!authForm?.get('email')?.valid && authForm?.get('email')?.touched" class="help-block">Enter a
          fucking email address.</p>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password">
        <span *ngIf="!authForm?.get('password')?.valid && authForm?.get('password')?.touched" class="help-block">
          <p *ngIf="authForm?.get('password')?.getError('required')" class="help-block">Where's your password, dude?</p>
          <p *ngIf="authForm?.get('password')?.getError('minlength')" class="help-block">You call that a password?
            Try {{(8 - authForm?.get('password')?.value.length)}} more characters.</p>
        </span>
      </div>
      <div>
        <button type="submit" [disabled]="!authForm?.valid" class="btn btn-primary">{{isLoginMode ? 'Login' :
          'Sign up'}}</button>&nbsp;
        <button type="button" class="btn btn-default" (click)="onSwitchClicked()">Switch to {{isLoginMode ? 'sign up' :
          'login'}}</button>
      </div>
    </form>
  </div>
</div>
