<h3 *ngIf="editMode">Edit {{ user?.name }}</h3>
<h3 *ngIf="!editMode">New user</h3>

<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="name">Name</label>
      <p class="help-block">Note: ersch and admin are forbidden. Upper case won't help, jackass.</p>

      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control">
      <span class="help-block" *ngIf="!userForm.get('name')?.valid && userForm.get('name')?.touched">
        <p class="help-block" *ngIf="userForm.get('name')?.getError('nameIsForbidden')">This name is forbidden.</p>
        <p class="help-block" *ngIf="userForm.get('name')?.getError('required')">Please enter a name.</p>
      </span>
    </div>
    <div class="col-sm-12 form-group">
      <label for="email">Email</label>
      <p class="help-block">Note: test@test.de and test3@test.de are forbidden. Upper case won't help, jackass.</p>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control">
      <span class="help-block" *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.touched">
        <p class="help-block" *ngIf="userForm.get('email')?.getError('emailIsForbidden')">This email address is
          forbidden.</p>
        <p class="help-block" *ngIf="userForm.get('email')?.getError('required')">Please enter an email address.</p>
        <p class="help-block" *ngIf="userForm.get('email')?.getError('email')">This email address is invalid.</p>
      </span>
    </div>
    <div class="col-sm-12 form-group">
      <label for="password">Password</label>
      <input
        type="text"
        id="password"
        formControlName="password"
        class="form-control">
      <p class="help-block" *ngIf="!userForm.get('password')?.valid && userForm.get('password')?.touched">Please enter a
        password with at least 8 characters.</p>
    </div>
    <div class="col-sm-12 form-group">
      <label>Gender</label>
      <div class="radio" *ngFor="let genderOption of genderOptions">
        <label for="{{genderOption}}">
          <input
            id="{{genderOption}}"
            type="radio"
            formControlName="gender"
            [value]="genderOption">
          {{genderOption}}</label>
      </div>
      <p class="help-block" *ngIf="!userForm.get('gender')?.valid && userForm.get('gender')?.touched">Please select a
        gender.</p>
    </div>
    <div class="col-sm-12 form-group">
      <h4>Roles</h4>
      <button class="btn btn-default" type="button" (click)="onAddRole()">Add role</button>
      <div class="form-group" formArrayName="roles" *ngFor="let role of getRoles().controls; index as i"
           style="margin-top: 10px">
        <div class="col-xs-8">
          <input type="text" class="form-control" [formControlName]="i">
        </div>
        <div class="col-xs-2">
          <button class="btn btn-default" type="button" (click)="onDeleteRole(i)"><span
            class="glyphicon glyphicon-remove"></span> Remove
          </button>
        </div>
        <p class="help-block" *ngIf="!role?.valid && role?.touched">Please enter a valid role.</p>
      </div>
    </div>
    <div class="col-sm-12 form-group">
      <label for="corona">Corona attitude</label>
      <select id="corona" class="form-control" formControlName="corona">
        <option [value]="coronaOption.value" *ngFor="let coronaOption of coronaOptions">{{coronaOption.name}}</option>
      </select>
      <p class="help-block" *ngIf="!userForm.get('corona')?.valid && userForm.get('corona')?.touched">Please select a
        corona attitude.</p>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success" [disabled]="!userForm?.valid" type="submit">Save</button>
        <p class="help-block" *ngIf="userForm.pending">Note: Form validation is pending</p>
      </div>
    </div>
  </div>
</form>
