<app-header (onPageChange)="changePage($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="page === 'recipes'"></app-recipes>
      <app-shopping-list *ngIf="page === 'shoppingList'" (itemAdded)="onItemAdded($event)"
        (itemEdited)="onItemEdited($event)"></app-shopping-list>
      <p></p>
    </div>
  </div>
</div>
<hr>
<app-footer #contentFooter [lastAddedIngredient]="lastAddedIngredient">
  <p appBasicHighlight>Thank you for using this app.</p>
  <p appBetterHighlight>Thank you so fucking much.</p>
  <p [appBestHighlight]="'blue'">A name can be assigned to a single property of a directive using @Input('...'). Then this directive can be accessed by using that name, like in this paragraph.</p>
  <p appBestHighlight [mouseoverColor]="'brown'" [mouseoverBackground]="'aliceblue'" [defaultBackground]="'red'"
    [defaultColor]="'white'">All highlighting options are configurable via properties.</p> 
    <p appBestHighlight mouseoverColor="brown" mouseoverBackground="aliceblue" defaultBackground="red"
    defaultColor="white">Same as above, but without squared brackets and single quotation marks. Works for property binding, but can be confused with real existing attributes.</p>
    <p *appUnless="false">Only shown, if false.</p>
</app-footer>