<app-header (onPageChange)="changePage($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="page === 'recipes'"></app-recipes>
      <app-shopping-list *ngIf="page === 'shoppingList'" (itemAdded)="onItemAdded($event)"
      (itemEdited)="onItemEdited($event)"></app-shopping-list>
      <p></p>
    </div>
  </div>
</div>
<hr>
<app-footer #contentFooter [lastAddedIngredient]="lastAddedIngredient">
  <p appBasicHighlight>Thank you for using this app.</p>
  <p appBetterHighlight>Thank you so fucking much.</p>
</app-footer>